body {
  text-align: center;
  color: lavender;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  background-color: lavender;
  margin: 0 auto;
}

header {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 100%;
}

.header p {
  margin-bottom: 10px;
}

.header {
  height: 200px;
  background-color: steelblue;
  border-bottom: 5px solid lavender;
  font-size: 1.5em;
  padding-top: 30px;
}

.header span, .description h1 {
  color: navy;
}

h4 {
  margin: 0 auto;
}

h1 {
  margin-bottom: 10px;
  margin-top: 10px;
}

/* END HEADER */

section {
  padding-top: 152px;
}

/* BASIC CONTAINERS .........*/

.container {
  display: flex;
  justify-content: center;
}

.container-within {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1024px;
}

/* ........BASIC CONTAINERS */

.box {
  position: relative;
  z-index: 5;
  top: -84px;
  padding: 16px 0;
  background-color: steelblue;
  color: lavender;
  border-top: 5px solid lavender;
}

.box h1 {
  letter-spacing: 7px;
  font-weight: 200;
}

/* END MAINPICTURE */

.description {
  background-color: steelblue;
  margin-bottom: 80px;
}

.description h1 {
  font-size: 2em;
}

.description p {
  font-size: 1.3em;
}

.multibox {
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
}

.multibox div {
  border: 5px solid lavender;
  border-radius: 10px;
  padding: 20px 0;
  width: 270px;
}

.multibox span {
  line-height: 20%;
}

em {
  font-size: 0.8em;
}

.special {
  line-height: 80%;
}

.low {
  line-height: 75%;
}

#margin {
  margin-top: 40px;
}

/* END DESCRIPTION */

a {
  text-decoration: none;
  color: steelblue;
  background-color: lavender;
  padding: 10px 30px;
}

a:hover {
  background-color: steelblue;
  color: lavender;
  cursor: pointer;
  border: 1px solid lavender;
  transition: background .5s;
}


.pictures {
  display: inline-flex;
  width: 1024px;
  justify-content: space-between;
}

footer {
  margin: 80px 0 100px 0;
  height: 101px;
  width: 100%;
}

.footer {
  background-color: steelblue;
  border: 3px solid steelblue;
  border-radius: 10px;
}

.footer a {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 5px;
  padding: 28px 0;
}
