body {
  text-align: center;
  color: lavender;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  background-color: black;
  margin: 0 auto;
}

header {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1024px;
  height: 200px;
  background-color: steelblue;
  border-bottom: 2px solid lavender;
  font-size: 1.5em;
  padding-top: 30px;
}

.header span {
  color: moccasin;
}

section {
  padding-top: 230px;
}

.container {
  display: flex;
  justify-content: center;
}

.mainpicture {
  background-image: url(burg.jpg);
  background-repeat: no-repeat;
  height: 683px;
  width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box {
  background-color: lavender;
  color: steelblue;
}

.box h1 {
  letter-spacing: 7px;
  font-weight: 200;
}

.description {
  width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: steelblue;
  margin: 50px auto;
}

.description h1 {
  color: moccasin;
  font-size: 1.7em;
}

.multibox {
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
}

.multibox div {
  border: 3px solid lavender;
  padding: 20px 0;
  width: 240px;
}

.multibox span {
  line-height: 20%;
}

em {
  font-size: 0.7em;
}

#special {
  line-height: 80%;
}

#low {
  line-height: 70%;
}

a {
  text-decoration: none;
  color: steelblue;
  background-color: lavender;
  padding: 10px 30px;
}

a:hover {
  background-color: steelblue;
  color: lavender;
  cursor: pointer;
  border: 1px solid lavender;
  transition: background .5s;
}

#margin {
  margin-bottom: 40px;
}

.pictures {
  display: inline-flex;
  justify-content: space-around;
  width: 1024px;
}

footer {
  margin: 50px 0 100px 0;
  background-color: black;
  height: 101px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1024px;
  background-color: steelblue;
}

.footer a {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 5px;
  padding: 29px 0;
}
